fastapi==0.115.12
starlette==0.46.2
uvicorn==0.34.2
pydantic==2.11.4
pydantic_settings==2.9.1
python-dotenv==1.1.0
itsdangerous==2.2.0
python_jose==3.3.0
SQLAlchemy==2.0.31
alembic
asyncpg
httpx
python-multipart==0.0.9
redis==5.2.1
aio-pika==9.5.5
cryptography
numpy
opencv-python-headless
pytest
pytest-asyncio
email-validator
